{{#> base}}
	{{#*inline "head"}}
		<title>Sabrina Jewson's Reviews</title>
		<meta property="og:title" content="Sabrina Jewson's Reviews">
		<meta name="description" content="{{summary}}">

		<link rel="stylesheet" href="/{{reviews_css}}">
		{{#if live_reload}}<script>dependency("/{{reviews_css}}")</script>{{/if}}
	{{/inline}}
	{{#*inline "body"}}
		{{{introduction}}}
		<div id="filter">
			<input type="text" placeholder="Filter…">
			<button class="pretty">Clear</button>
		</div>
		<div class="page-controls"></div>
		<table id="reviews-table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Genres</th>
					<th><button id="score-header">Score ↕</button></th>
				</tr>
			</thead>
			<tbody id="reviews"></tbody>
		</table>
		<div class="page-controls"></div>
		<template id="rows">{{#each entries}}<template>
			<tr>
				<td>
					<small>{{artists}}</small>
					<br>
					<strong>{{title}}</strong>
					<br>
					<small>
						{{#if links}}<span class='links'>{{#each links}}{{#if this}}
							{{#with (lookup ../../sites @index)}}
								<a href="{{../this}}" title="{{alt}}"><img src="{{icon}}" alt="{{alt}}"></a>
							{{/with}}
						{{/if}}{{/each}}</span>{{/if}}
						<span>{{{type}}}</span>
						• <span title='{{released_full}}'>{{released_short}}</span>
					</small>
				</td>
				<td><small>{{genres}}</small></td>
				<td>
					{{#if review}}
						<strong class='score'>{{review.score}}</strong>
						<br>
						<small>
							<time datetime="{{review.date}}">{{review.date}}</time>
						</small>
					{{else}}
						-
					{{/if}}
				</td>
			</tr>
			{{#if review.comment}}
				<tr><td colspan="3">{{{review.comment}}}</td></tr>
			{{/if}}
		</template>{{/each}}</template>
		<script src="/{{reviews_js}}"></script>
		{{#if live_reload}}<script>dependency("/{{reviews_js}}")</script>{{/if}}
	{{/inline}}
{{/base}}
