{{#> base}}
	{{#*inline "head"}}
		<title>{{post.markdown.title}} - Sabrina Jewson</title>
		<meta property="og:title" content="{{post.markdown.title}}">
		<meta name="description" content="{{post.markdown.summary}}">
		<meta property="og:type" content="article">

		<link rel="stylesheet" href="{{post_css}}">
		{{#if live_reload}}<script>dependency("{{post_css}}")</script>{{/if}}

		<link type="application/atom+xml" rel="alternate" href="{{feed}}" title="Sabrina Jewson's Blog">
	{{/inline}}
	{{#*inline "body"}}
		<h1>{{{post.markdown.title}}}</h1>
		<p id="published">
			{{#if post.published}}
				<time datetime="{{post.published}}">{{post.published}}</time>
			{{else}}
				Draft
			{{/if}}
		</p>
		<nav>{{{post.markdown.outline}}}</nav>
		{{{post.markdown.body}}}

		<p class="back"><a href="#">том Back to top</a></p>
	{{/inline}}
{{/base}}
